<h1>Listing users</h1>
<table>
<thead>
  <tr>
    <td>First</td>
    <td>Last</td>
    <td>Email</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email_address %></td>
    <td><a href="/users/<%= user.id %>">Show</a> | <a href="/users/<%= user.id %>/edit">Edit</a> | <a href="users/<%= user.id %>" data-method='delete'>Destroy</a></td>
  </tr>
  <% end %>
</thead>
</table>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<a href="/users/new">New User</a>
