<h1>New product</h1>
<!-- <form action="/products" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Name
  <input type="text" name="name"></label>
  <label>Description
  <input type="text" name="description"></label>
  <label>Price
  <input type="text" name="price"></label>
  <input type="submit" value="Create">
</form> -->

<%= simple_form_for @product do |p| %>
<%= p.input :name %>
<%= p.input :description %>
<%= p.input :pricing %>
<%= p.button :submit %>
<% end %>

<a href="/products">Back</a>
