<!DOCTYPE html>
<html>
<head>
  <title>Survey Form</title>
</head>
<body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
<fieldset>
  <h2>Submitted Information</h2>
  <p>Name: <%= params[:name] %></p>
  <p>Dojo Location: <%= params[:location] %></p>
  <p>Favorite Language: <%= params[:language] %></p>
  <p>Comment: <%= params[:comment] %></p>
  <form action="/"><input type="submit" value="Go Back"></form>
</fieldset>

</body>
</html>
